
div.image-collection-div img {
    float: left;
    margin: 5px 5px;
    height: 250px;
    width: auto;
}

div.common-div .film-star-div {
    display: inline-block;
    width: 20%;
}

div.common-div .film-star-div img {
    display: block;
    margin: auto;
    height: 200px;
    width: auto;
}

body > section {
    padding: 20px;
    background-color: #f0f0f0;
}
body > section h2 {
    margin-top: 0;
}


div.common-div .film-star-div p {
    text-align: center;
}

div.clear-fix {
    clear: both;
}