body section.body-content {
    background-color: #441D1A;
    padding: 20px 30px;
}

.actor-general-info {
    color: white;
    size: 24px;
}

.actor-general-info p {
    margin: 0;
}

.actor-general-info #actor-poster,
.actor-general-info #actor-description {
    display: inline-block;
}

.actor-general-info #actor-poster > img {
    height: 360px;
    width: auto;
}

.actor-general-info #actor-poster {
    width: 25%;
}

.actor-general-info #actor-description {
    width: 75%;
}

.actor-general-info h3 {
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin: 0 5px 10px;
}

.actor-general-info #actor-description span {
    color: #2727FD;
}

.actor-general-info #actor-icons ul {
    margin: 0;
    padding-left: 0;
}

.actor-general-info li {
    display: inline;
    padding: 0 5px;
}

.actor-general-info #actor-icons li > img {
    height: 45px;
    width: 45px;
}

div #actor-details {
    display: block;
}

div #actor-details h3 {
    font-size: 24px;
    margin: 10px 0 0 0;
}

div #actor-details .further-actor-details-div {
    display: inline-block;
    width: 25%;
}

.justify-class {
    text-align: justify;
}

div#actor-known-for-div {
    margin: 10px 0;
}

section > div#actor-known-for-div .actor-film-div {
    display: inline-block;
    width: 33.33%;
    margin-bottom: 20px;
}

section > div#actor-known-for-div .actor-film-div img {
    display: block;
    margin: auto;
    height: 400px;
    width: auto;
}

section > div#actor-known-for-div .actor-film-div p {
    text-align: center;
}


section.detailed-actor-info {
    background-color: #f0f0f0;
    padding: 20px 30px;
    size: 24px;
}

section.detailed-actor-info h3 {
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 10px;
}

section.detailed-actor-info ul {
    width: 50%;
    margin: auto;
    list-style-type: none;
}

section.detailed-actor-info li img {
    width: 15px;
    height: auto;
}

section.detailed-actor-info li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #01D475;
}

section.detailed-actor-info li span {
    font-size: 20px;
    font-weight: bold;
}


section.twitter-timeline {
    background-color: #fafafa;
    padding: 20px 30px;
    size: 24px;
}

section.twitter-timeline h3 {
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 10px;
}