section.article-content {
    background-color: #752623;
    padding: 20px 30px;
}

section.article-content h3,
section.article-content {
    color: white;
}

section.article-content section.article-details img {
    margin: 0 20px 10px 0;
    height: 280px;
    width: auto;
}

section.article-content section.article-details #title-span {
    font-size: 24px;
    font-weight: bold;
}


section.article-content section.article-details #detail-span {
    font-size: 14px;
}

section.article-content section.article-details #article-span {
    font-size: 18px;
}

section.article-content section.article-details #general-icons {
    list-style: none;
    margin: 5px 0;
}

section.detailed-article-info {
    background-color: #f0f0f0;
    padding: 20px 30px;
    size: 24px;
}

section.detailed-article-info h3 {
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 10px;
}

section.detailed-article-info div.detail-element-div {
    display: inline-block;
    width: 33.33%;
}

section.detailed-article-info div.detail-element-div img {
    display: block;
    margin: auto;
    height: 260px;
    width: auto;
}

section.detailed-article-info div.detail-element-div img:last-of-type.focus-icon {
    height: 45px;
}

section.detailed-article-info div.detail-element-div p {
    font-size: 20px;
    font-weight: bold;
    color: #01D475;
    text-align: center;
}

section.article-content div#comment-div h3 {
    font-size: 40px;
    font-weight: bold;

}

section.article-content .comment-div,
section.article-content .user-comment-div {
    display: block;
    margin: 15px auto;
}

section.article-content div#comment-div .comment-div span {
    color: black;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

section.article-content div#comment-div .comment-div:nth-of-type(2n + 1) p {
    background-color: #5B47F5;
}

section.article-content div#comment-div .comment-div:nth-of-type(2n) p {
    background-color: #01D475;
}

section.article-content div#comment-div p,
section.article-content div#comment-div form {
    width: 60%;
    margin: auto;
    padding: 10px;
}

section.article-content div#comment-div form {
    width: 61.75%;
}

textarea {
    padding: 5px;
    width: 100%;
    resize: none;
    font-size: 18px;
}


button, input[type="submit"] {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 0;
}