table.box-office-table {
    width: 100%;
    margin: 10px 0 30px;
}

table.box-office-table td {
    text-align: center;
}


table.box-office-table td:nth-child(1) img {
    width: 100px;
    height: auto;
}

table.box-office-table td:last-child img {
    width: 40px;
    height: auto;
}

table.box-office-table tr:nth-of-type(2n) {
    background-color: #fafafa;
}

table.box-office-table tr:nth-of-type(2n + 1) {
    background-color: #dddddd;
}

section.body-content table.box-office-table thead tr {
    background-color: #fafafa;
}
