@import url(https://fonts.googleapis.com/css?family=Nunito+Sans);

* {
    font-family: 'Nunito Sans', sans-serif;
}

body {
    background: white;
    margin: auto;
    width: 1200px;
}

header {
    height: 180px;
    background-color: #014394;
}

header div {
    display: inline-block;
    width: 50%;
    height: 100%;
}

header div:nth-of-type(1) {
    vertical-align: center;
}

header div ul {
    float: right;
    margin: 140px 20px 0;
}

header div li {
    display: inline;
    padding: 10px;
}

header a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 24px;
}

header img {
    margin: 5px 5px 25px 25px;
    height: 75%;
    width: 45%;
}

footer {
    width: 100%;
    display: table;
    text-align: center;
    color: white;
    height: 150px;
    background-color: #00B37F;
}

footer span {
    display: table-cell;
    vertical-align: bottom;
}

body > form {
    padding: 5px 20px;
    border: solid grey 1px;
    margin: 0px;
}

body > form #magnifier-image {
    display: inline-block;
    height: 45px;
    width: 45px;
    margin-right: 10px;
}

body > form table {
    width: 100%;
}

body > form input {
    border: none;
    display: inline-block;
    font-size: 18px;
    height: 45px;
    width: 100%;
    padding: 5px;
}


body > form #search-table-cell {
    width: 95%;
}

body section.body-content {
    padding: 10px 120px;
    background-color: #f0f0f0;
}

h2 {
    font-style: italic;
    font-weight: bold;
}

ul#search-results {
    /* This is for position: absolute */
    position: absolute;
    background-color: white;
    left: -21px;
    top: -11px;
    width: 1118px;
    border: solid 1px grey;
    padding: 0 40px 10px;
    z-index: 1000;

    /* The above should be removed when position: absolute is removed*/
    display: none;
    list-style-type: none;
    //padding-left: 65px;
}

ul#search-results > li {
    font-size: 18px;
    padding: 5px 0 0 0;
}

ul#search-results > li img {
    height: 100px;
    width: 75px;
    margin-right: 30px;
}

ul#search-results > li a:nth-of-type(2) {
    vertical-align: middle;
    color: #01D475;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
}

ul#search-results > li:nth-of-type(n + 2) {
    border-style: solid;
    border-color: #014394;
    border-width: 3px 0 0 0;
}

div#absolute-div {
    position: absolute;
}

form#logoutForm {
    padding: 0;
    border: none;
    height: 0;
    width: 0;
    display: inline;
    margin: 0;
}

div.pop-up-dialog {
    display: none;
}

li#notification-nav > a {
    display: inline-block;
    height: 25px;
    width: 25px;
}

li#notification-nav > a > img {
    margin: 0;
    height: 25px;
    width: auto;
}