body section.body-content {
    background-color: #271E67;
    padding: 20px 30px;
}

.film-general-info {
    color: white;
    size: 24px;
}

.film-general-info p {
    margin: 0;
}

.film-general-info #film-poster > img {
    height: 400px;
    width: auto;
}

.film-general-info div {
    display: inline-block;
}

.film-general-info #film-poster {
    width: 25%;
}

.film-general-info #film-description {
    width: 75%;
}

.film-general-info h3 {
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin: 0 5px 10px;
}

.film-general-info #film-description span {
    color: #2727FD;
}

.film-general-info #film-icons ul {
    margin: 0;
    padding-left: 0;
}

.film-general-info li {
    display: inline;
    padding: 0 5px;
}

.film-general-info #film-icons li img {
    height: 45px;
    width: 45px;
}

div #film-details {
    display: block;
}

div #film-details h3 {
    font-size: 24px;
    margin: 10px 0 0 0;
}

div #film-details .featured-crew-div {
    display: inline-block;
    width: 33.33%;
}

.justify-class {
    text-align: justify;
}

section > div#stars-div,
section > div#multimedia-div{
    margin-top: 10px;
    width: 100%;
}

section > div#stars-div .film-star-div {
    display: inline-block;
    width: 20%;
}

section > div#stars-div .film-star-div img {
    display: block;
    margin: auto;
    height: 200px;
    width: auto;
}

section > div#stars-div .film-star-div .cast-favorite-icon {
    height: 50px;
    width: auto;
}


section > div#stars-div .film-star-div p {
    text-align: center;
}

section > div#multimedia-div .youtube-class {
    text-align: center;
}

div#multimedia-div .youtube-frame {
    display: block;
    margin: auto;
}

div#multimedia-div img {
    float: left;
    margin: 5px 5px;
    height: 250px;
    width: auto;
}


section.detailed-movie-info {
    background-color: #f0f0f0;
    padding: 20px 30px;
    size: 24px;
}

section.detailed-movie-info h3 {
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 10px;
}

section.detailed-movie-info .detail-row-div {
    width: 100%;
    margin-bottom: 10px;
}

section.detailed-movie-info .detail-row-div .detail-element-div {
    width: 25%;
    display: inline-block;
}

section.detailed-movie-info .detail-row-div .detail-element-div p {
    margin: 0;
    font-size: 18px;
}

section.detailed-movie-info .detail-row-div .detail-element-div p:first-of-type {
    font-weight: bold;
    color: blue;
}

#reviews-div {
    display: block;
}

.body-content #reviews-div .review-div,
.body-content #reviews-div .user-review-div{
    display: block;
    margin: 15px 0;
}

.body-content #reviews-div .review-div p,
.body-content #reviews-div .review-div form,
.body-content #reviews-div .user-review-div form {
    text-align: justify;
    padding: 10px;
    width: 60%;
    margin: auto;
}

.body-content #reviews-div .user-review-div form,
.body-content #reviews-div .review-div form{
    width: 61.75%;
}

.body-content #reviews-div .user-review-div form {
    padding: 0;
}

.body-content #reviews-div .review-div span {
    color: black;
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.body-content #reviews-div .review-div:nth-of-type(2n + 1) p {
    background-color: #5B47F5;
}

.body-content #reviews-div .review-div:nth-of-type(2n) p {
    background-color: #01D475;
}

textarea {
    padding: 5px;
    width: 100%;
    resize: none;
    font-size: 18px;
}

button, input[type="submit"] {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 0;
}

select#friend-name-select,
select#ticket-cinema-id,
select#ticket-date-id,
select#ticket-hour-id,
select#ticket-count-id {
    padding: 0 10px;
    margin: 0 10px;
    height: 30px;
    border-radius: 5px;
}

div#card-information-dialog td {
    padding: 0 5px;


}

div#card-information-dialog button {
    width: 100%;
}

