
.body-content {
    height: 2350px;
}

.home-films-div {
    height: 1225px;
    width: 100%;
}

.home-films-div img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

.home-films-div .adjusted-image {
    height: 199px;
}

div#first-film-div {
    display: inline-block;
    width: 50%;
}

div#second-film-div {
    display: inline-block;
    width: 50%;
}

.news-section-div .first-news-article > div:nth-of-type(1) {
    display: inline-block;
    width: 25%;
}

.news-section-div .first-news-article > div:nth-of-type(1) > img {
    width: 200px;
    height: auto;
}

.news-section-div .first-news-article > div:nth-of-type(2) {
    display: inline-block;
    width: 75%;
}

.news-section-div .first-news-article > div:nth-of-type(2) > h3 {
    text-align: justify;
    font-size: 32px;
    margin: 2px 0;
}

.news-section-div .first-news-article > div:nth-of-type(2) > p {
    margin: 0 0 10px;
    text-align: justify;
}

.news-section-div .first-news-article > div:nth-of-type(2) > p:nth-of-type(2) {
    font-size: 18px;
}

.other-news-article-div {
    width: 100%;
    height: 200px;
}

.news-section-div .other-news-article-div .regular-news-article-div {
    display: inline-block;
    width: 50%;
}

.news-section-div .other-news-article-div .regular-news-article-div h3 {
    margin-bottom: 0;
    font-size: 30px;
}

.news-section-div .other-news-article-div .regular-news-article-div p {
    margin-top: 0;
}

.box-office-div .sample-film-box-office {
    display: inline-block;
    width: 33.33%;
}

.box-office-div .sample-film-box-office div {
    display: inline-block;
    width: 50%;
}

.box-office-div .sample-film-box-office div:nth-of-type(1) img {
    height: 225px;
    width: auto;
}

.box-office-div .sample-film-box-office div:nth-of-type(2) {
    font-size: 20px;
}

.box-office-div .sample-film-box-office div:nth-of-type(2) p {
    margin: 0;
}

.box-office-div .sample-film-box-office div:nth-of-type(2) a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
    color: #07D57B;
}

div#absolute-div-home-pics {
    position: absolute;
}

div#absolute-div-home-pics > img {
    display: none;
    width: 50px;
    height: auto;
}

div#absolute-div-home-pics img#guardians-fav-icon,
div#absolute-div-home-pics img#interstellar-fav-icon,
div#absolute-div-home-pics img#skyfall-fav-icon,
div#absolute-div-home-pics img#strange-fav-icon,
div#absolute-div-home-pics img#prometheus-fav-icon {
    position: absolute;
    left: 10px;
}

div#absolute-div-home-pics img#guardians-fav-icon {
    top: 140px;
}

div#absolute-div-home-pics img#prometheus-fav-icon {
    top: 380px;
}

div#absolute-div-home-pics img#strange-fav-icon {
    top: 650px;
}

div#absolute-div-home-pics img#interstellar-fav-icon {
    top: 1100px;
}

div#absolute-div-home-pics img#skyfall-fav-icon {
    top: 650px;
    left: 490px;
}