html body {
    font-size: 24px;
}

label {
    display: block;
    font-style: italic;
    margin-bottom: 5px;
}

form.body-form {
    margin-bottom: 10px;
}

form.body-form input[type="text"],
form.body-form input[type="password"] {
    font-size: 24px;
    font-style: italic;
    padding: 5px 10px;
    width: 100%;
    margin-bottom: 15px;
}

input[type="submit"] {
    width: 100%;
    background-color: white;
    border: solid grey 1px;
    color: grey;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 0;
}

p {
    width: 40%;
    margin: 20px auto 30px;
}
