
img.mySlides {
    display: block;
    margin: auto;
    height: 500px;
    width: auto;
}

body section.body-content {
    background-color: #111111;
    color: white;
}

div.w3-content.w3-display-container img.focus-icon {
    height: 45px;
    width: auto;
    margin: auto;
}